* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f39c12;;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a {
    text-decoration: none;
}
.icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ccc,#f39c12);
    color: #333;
}

/* Courses Section */