/* General Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f39c12;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a {
    text-decoration: none;
}
.icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Presentation Section */
.presentation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background: linear-gradient(to top, #ccc,#faa927);
}

.presentation img {
    width: 45%;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.text_area1 {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Contact & Sign Up Section */
.contact_sign_up {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    background: linear-gradient(to right, #ccc,#f39c12);

}

.contact-section, .signup-section {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px;
    background: linear-gradient(to left, #ccc,#f39c12);
}

.contact-section:hover, .signup-section:hover {
    transform: translateY(-5px);
}

.section-image {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin: 0 auto; 
    display: block; 
    object-fit: cover; 
    margin-bottom: 10px;
}

.section-image-small {
    width: 80px; 
    border-radius: 8px; 
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 20px;
   
}


input[type="text"], 
input[type="email"], 
input[type="password"] {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    -webkit-border-radius: 25rem;
    -moz-border-radius: 25rem;
    -ms-border-radius: 25rem;
    -o-border-radius: 25rem;
}


input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
    border-color: #007BFF; 
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.3); 
}

/* Styles for submit button */
.submit-btn {
    width: 50%;
    padding: 14px;
    display:block;
    align-items:center;
    background-color: whitesmoke;
    color:  #f39c12;
    border: none;
    justify-content:center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
}
.submit-btn:hover {
    background-color: #f39c12; 
    color:whitesmoke;
}


/* Media Queries for Responsive Design */
@media (min-width: 768px) {
    .presentation img {
        width: 45%;
    }

    .text_area1 {
        width: 45%;
    }

    .contact-sign-up {
        flex-direction: row;
    }

    .contact-section, .signup-section {
        width: 45%;
    }
}

@media (max-width: 767px) {
    .presentation {
        flex-direction: column;
    }

    .presentation img {
        width: 100%;
    }

    .text_area1 {
        width: 100%;
    }

    .contact-sign-up {
        flex-direction: column;
    }

    .contact-section, .signup-section {
        width: 100%;
    }
}
